<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SSLServiceSoap" allowCookies ="true"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:84/SSLService.asmx" binding="basicHttpBinding"
                bindingConfiguration="SSLServiceSoap" contract="ServiceReference1.SSLServiceSoap"
                name="SSLServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>